.calculator{
    border: solid rgb(215, 203, 203) 2px;
    border-radius: 5px;
    width: 210px;
}
.display{
    width: 170px;
    /* margin-left: 20px; */
    margin: 15px;
    font-size: 25px;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.btn{
    height: 50px;
    width: 50px;
    background-color: bisque;
    border: solid black 1px;
    border-radius:3px;
    margin: 3px;
}
.equalbtn{
    height: 50px;
    width: 100px;
    background-color: bisque;
    border: solid black 1px;
    border-radius:3px;
    margin: 3px;
}